*{
    padding:0px;
    margin: 0px;
    color: white;
}
#salesbars{
    background-color: white;
    padding-top: 110px;
    height: 118%;
}
.travelcards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}
.sale-cards{
    
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 10px;
    border-radius: 10px;
}