*{
    padding:0px;
    margin: 0px;
    color: white;
}
#salesbars{
    background-color: white;
    padding-top: 100px;
    height: 118%;
}
h2{
    color:black;
    padding-top: 20px;
    margin-bottom:10px;
}
.trending{
    width: 100%;
    display: flex;
    overflow-x: auto;
}
.sale-cards{
    width: auto;
    height: 180px;
    padding: 10px;
    margin-left: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
.sale-cards  > p{
    color: black;
    font-size:17px ;
    padding: 0;
}
.sale-cards>a:hover{
    background-color: rgba(0,0,0,0.3);
    height:25%;
}
